.profile-slider {
    background: rgb(38, 51, 42);
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    transform: translateX(100%);
 
}
.profile-view {
    height: 100vh;
    background-image: url('../../Image/forestProfile.jpg');
    background-size: cover;
}
.profile-slideshow{
    height: 100vh;
    width: 100%;
    position: fixed;
}

.profile-view img {
    width: 50%;
    height: 50%;
    border-radius:50%;
    margin:5px 0px;
    border:2px solid black;
}

.profile-card { 
    position: absolute;
    top:15%;
    left:45%;
    height: 30vh;
    width: 30vh;
    border:0px solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);

}
.all-users {
    position: absolute;
    top:50%;
    z-index: 10;
    text-align: center;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 50%;
}
.all-users h1{
    width: 100%;
    position: fixed;
    top:45%;
    border-bottom: 2px solid rgb(38, 51, 42);
    font-size: 2.5rem;
}
.users-list {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    list-style: none;
    display: inline-block;
    width: 30%;
    margin:5px 5px;
}
.users-list button {
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0);
    display: inline-block;
}

.users-list button:hover {
    cursor: pointer;
    background-color: rgb(38, 51, 42);
}
.edit-form {
    text-align: center;
}
.input-fields {
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.edit-form input{
    padding:5px;
    width: 8rem;
    height: 2rem;
    border-radius: 5px;
}

#edit {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    margin-bottom: 3px;
    padding: 3px 3px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}
#edit:hover {
    background-color: rgb(38, 51, 42);
}

.edit-form button {
    left:0%;
    margin: 5% 5%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    padding: 3px 3px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.edit-form button:hover {
    cursor: pointer;
}

.refresh {
    justify-content: center;
    display: flex;
    position: absolute;
    z-index: 14;
    left:97%;
    bottom: 93%;
    transform: translateX(50%);
    font-size: 30px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}
.refresh:hover{
    background-color: rgb(38, 51, 42);
    cursor: pointer;
}
.refresh:focus{
    outline: none;
}